@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor-primaria: #22d4fd;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #000000;

  --fonte-principal: "Montserrat", sans-serif;
  --fonte-secundaria: "Krona One", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-terciaria);
  color: var(--cor-secundaria);
  box-sizing: border-box;
}

.cabecalho {
  padding: 2% 0 0 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: var(--fonte-principal);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-primaria);
  text-decoration: none;
}

.apresentacao {
  margin: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__texto {
  font-size: 1.5rem;
  font-family: var(--fonte-principal);
}

.apresentacao__imagem {
  width: 50%;
}

.titulo_destaque {
  color: var(--cor-primaria);
}

.apresentacao__conteudo__redes-sociais {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.apresentacao__conteudo__redes-sociais__subtitulo {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__redes-sociais__link {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid var(--cor-primaria);
  text-decoration: none;
  color: var(--cor-secundaria);
  width: 50%;
  font-family: var(--fonte-principal);
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 21px 0;
  font-weight: 600;
}

.apresentacao__conteudo__redes-sociais__link:hover {
  background-color: #272727;
}

.footer {
  background-color: var(--cor-primaria);
  padding: 18px;
}

.footer__texto {
  font-size: 1rem;
  font-family: var(--fonte-principal);
  color: var(--cor-terciaria);
  text-align: center;
}

.footer__link {
  text-decoration: none;
  color: var(--cor-terciaria);
  font-weight: 600;
}

.footer__link:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .cabecalho {
    padding: 10%;
  }

  .cabecalho__menu {
    justify-content: center;
  }

  .apresentacao {
    flex-flow: column-reverse;
  }

  .apresentacao__conteudo {
    width: auto;
  }
}
